# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db
_posts/2015-01-04-first-post.md
_posts/2015-01-04-first-post.md
_posts/2015-01-15-pirates.md
_posts/2015-01-04-first-post.md