---
layout: base
---

<div class="intro-header"></div>

<div role="main" class="container">
  {{ content }}
</div>

<script type="text/javascript">stLight.options({publisher: "635fd3d8-d8a0-4f3a-8da0-1170f7511a1c", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
var options={ "publisher": "635fd3d8-d8a0-4f3a-8da0-1170f7511a1c", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "reddit", "pinterest", "tumblr"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>